<!DOCTYPE html>
<html>
  <head>
    <title>Logged</title>
  </head>
  <body>
    <p>Hey <%= user.username %>, whatsup!</p>
    <p>      
      <script>
        setTimeout('location.replace("http://localhost:3000/api/oauth2/authorize?client_id=01110111&response_type=code&redirect_uri=http://localhost:3000")', 1000);  
      </script>
    </p>
  </body>
</html>